#----------------------------------------------------------
# This file is part of the gitlab-arm64 project.
#
# (c) Festim Kolgeci <festim.kolgei@pm.me>
#
# For complete copyright and license details, please refer
# to the LICENSE file distributed with this source code.
#----------------------------------------------------------

name: Test

on:
  pull_request:

jobs:
  test-scripts:
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set permissions
        run: chmod +x ./lib/bashunit

      - name: Run build tests
        working-directory: ./tests
        run: ../lib/bashunit ./unit/workflows/build

      - name: Run synversion tests
        working-directory: ./tests
        run: ../lib/bashunit ./unit/workflows/syncversion

  test-snycversion-workflow:
    needs: test-scripts
    uses: ./.github/workflows/_shared-syncversion.yml
    with:
      is_test: true # This must always be true in tests!

  test-build-workflow:
    needs: [test-scripts, test-snycversion-workflow]
    uses: ./.github/workflows/_shared-build.yml
    with:
      gitlab_release: ${{ needs.test-snycversion-workflow.outputs.latest_ce_tag }}
      include_major_minor_tag: true
      include_major_tag: true
      include_latest_tags: true
      is_test: true # This must always be true in tests!

  test-build-workflow-with-feskols-own-arm64-image:
    needs: [test-scripts]
    uses: ./.github/workflows/_shared-build.yml
    with:
      gitlab_release: 17.11.3-ce.0
      include_major_minor_tag: true
      include_major_tag: true
      include_latest_tags: true
      use_gitlab_official_arm64_image: false
      is_test: true # This must always be true in tests!


  test-build-workflow-with-gitlabs-own-arm64-image:
    needs: [test-scripts]
    uses: ./.github/workflows/_shared-build.yml
    with:
      gitlab_release: 18.1.0-ce.0
      include_major_minor_tag: true
      include_major_tag: true
      include_latest_tags: true
      use_gitlab_official_arm64_image: true
      is_test: true # This must always be true in tests!
